<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alpaca.components.authmgr.mapper.PrivilegesDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.alpaca.components.authmgr.entity.Privileges">
        <id column="Id" property="Id" />
        <result column="PriName" property="PriName" />
        <result column="tag" property="tag" />
        <result column="irank" property="rank" />
        <result column="LogicStatus" property="Status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Id, PriName, tag, irank, LogicStatus
    </sql>

</mapper>
